body{
    font-family: 'Times New Roman', Times, serif;
    font: 15px;
    padding: 0;
    margin: 0;
   
}
/* global */
.container{
    width: 80%;
    margin: auto;

}
/* header */
header{
    min-height: 40px;
}
header li {
    list-style-type: none;
    padding: 0px 8px 0px 8px;
    display: inline;
}
header a {
    /* color: white; */
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration-color: aqua;

}
header #logo{
    margin: 0px;
    float: left;
}
header nav{
    float: right;
}
header a:hover{
    color: black;
}