body{
    
    font-family: 'Times New Roman', Times, serif;
    font: 15px;
    padding: 0;
    margin: 0;  
    background: url("../image/rohi.jpg");
    height: 100vh;
    background-size: cover; 
     background-repeat: no-repeat; 
     overflow: hidden;
}
/* global */
.container{
    width: 60%;
    margin: auto;

}
.child{
    margin-bottom: 4px;
}
.logo{
    display: none;
    border: 1px white solid;
    background-color: aliceblue;
    padding-top: 10px;
    width: 40px;
    position: absolute;
    top: 6px;
    border-radius: 100%;
     justify-content: center;
    align-items: center;
}
/* header */
header{
    min-height: 40px;
}
header li {
    list-style-type: none;
    padding: 0px 8px 0px 8px;
    display: inline;
}
header a {
    color: white;
    text-decoration: none;
    text-decoration-color: white;
    padding-bottom: 5px;

}
header #logo{
    margin: 0px;
    float: left;
}
.nav{
    padding: 1px;
    float: center;
}
header a:hover{
    color: black;
}
.main-header{
    margin-top: 100px;
    font-size: 40px;
}
.sub-header{
    color:#323e54;
}

@media screen and (min-width: 600px) {
   .logo{
    display: flex;
   }
   .nav{
    float: right;
}
.main-header{
    font-size: 60px;
}
}