body{
    background: url("../image/icebird.jpg");
    background-size: cover; 
     background-repeat: no-repeat; 
     height: 100vh;
     background-size: cover; 
}
.container{
    width: 60%;
    margin: auto;

}
section{
    height: 120px;
    background-color: white;
}
.history{
    margin-top: 0px;
}

header a{
    color: #9FA6B6;
}
header span a{
    color:#435374;
}
.container ul{
    /* display: flex; */
    /* width:60px; */
    padding-top: 10px;
    padding-left: 0px;
    margin: 0px;
    
}
.container ul span{
   background-color: #9FA6B6;
   padding:10px 10px 13px ;
   color:#677797;
}
header{
    height: 30px;
    width: 100vw;
    background-color:  #404F6C;
}
header a{
    padding: 8px 0px;
}
.description{
    width: 300px;
    margin-top: 12px;
    border: 1px white solid;
    background-color:white;
    opacity: 0.9;
}
.description h2{
    color: rgb(50, 50, 71);
    margin-bottom: 0px;
    padding-left: 20px;
}
.content{
    display: flex;
    padding: 0px 20px;
}
.right-side-note{
    padding-left: 20px;
}
#para1{
    margin-top: 6px;
    margin-bottom: 0px;
}
#para2{
    margin-top: 0px;
}
.footer{
    height: 60px;
    width: 100vw;
   position: absolute;
   bottom: 0px;
}
.navbar_parent{
    padding-bottom: 1px;
    color: #747d98;
    background-color: #404F6C;
}
.navbar_left_element h4{
    margin-top: 10px;
}
.image{
    border: 1px #747d98 solid;
    background-color: #707992;
    padding-top: 10px;
    opacity: 0.5;
    width: 40px;
    display: flex;
    margin-bottom: 8px;
    border-radius: 100%;
     justify-content: center;
    align-items: center;
    padding-bottom: 7px;
}
.navbar_parent span{
    margin-bottom: 9px;
}
@media screen and (min-width: 600px) {
    .navbar_left_element{
     display: flex;
    }
 }